.about {
    width: 100vw;
}

.intro-page {
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 80px;
    flex-direction: row;
}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.summary {
    padding: 50px 100px;
}

.intro h1 {
    margin-top: 30px;
    font-size: 55px;
    line-height: 100%;
}

.intro p {
    font-size: 14px;
    padding: 25px 0;
}

.right {
    height: 100%;
    width: 50%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlight {
    color: var(--tertiary-colour);
}

.my-img {
    max-width: 70%;
    height: auto;
    border-radius: 50%;
}

.lets-talk-btn {
    background-color: transparent;
    color: var(--tertiary-colour);
    font-size: 17px;
    border-color: var(--tertiary-colour);
}

.lets-talk-btn:hover {
    border-color: var(--tertiary-colour);
    background-color: var(--tertiary-colour);
    color: var(--primary-colour);
}

@media (max-width: 1000px) {
    .intro-page {
        flex-direction: column-reverse; 
        padding: 60px 30px;
    }
    
    .left {
        width: 100%;
    }

    .right {
        padding: 30px 0;
        width: 60%;
        max-width: 550px;
        min-width: 120px;
    }

    .intro h1 {
        font-size: 40px; 
    }

    .intro p {
        font-size: 12px;
    }

    .my-img {
        max-width: 80%; 
    }
}