.contact-detail {
    margin: 30px 60px;
    background-color: var(--primary-colour);
    border-radius: 30px;
}

.contact-methods,
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px 0;
}

.contact-info,
.social-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact-info img,
.social-icon img {
    width: 17px;
    height: 17px;
}

.social-icons a {
    text-decoration: none;
    color: var(--secondary-colour);
}

.social-icons a:hover {
    color: var(--tertiary-colour-bottomn);
    text-decoration: underline;
}

.copy-btn {
    background-color: transparent;
    border: none;
    padding: 4px 5px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--secondary-colour);
    font-weight: 300;
}

.copy-btn:hover {
    background-color: var(--highlight-gray);
}

@media (max-width: 1300px) {
    .contact-detail {
        margin: 20px 40px;
    }
    .info-title {
        display: none;
    }
} 
  
@media (max-width: 768px) {
    .contact-detail {
        margin: 10px 20px;
    }
    .contact-methods,
    .social-icons {
        gap: 20px;
    }
    .copy-btn,
    .social-icons a {
        font-size: 14px;
    }
    .social-icon img,
    .contact-info img {
        width: 15px;
        height: 15px;
    }
    .contact-info {
        gap: 2px;
    }
}
  
@media (max-width: 540px) {
    .contact-methods {
        flex-direction: column;
        gap: 10px;
    }
    .social-icons {
        gap: 10px;
    }
}
