.contact-form-container {
    margin: 0;
    font-size: 17px;
    border: 2px solid var(--tertiary-colour-bottomn);
    border-radius: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.contact-form-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 35px;
}

.form-group {
    margin-bottom: 35px;
}

.from_email {
    width: 320px;
}

.from_name {
   width: 200px;
}

.message {
    width: 580px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
    padding: 15px 13px;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
}

.form-group textarea {
    resize: vertical;
    height: 200px;
    min-height: 200px;
}

.submit-button {
    background-color: var(--tertiary-colour-bottomn);
    color: var(--primary-colour);
    border: var(--tertiary-colour-bottomn);
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
}

.submit-button:disabled {
    background-color: var(--disabled);
    color: var(--secondary-colour);
    border: var(--disabled);
}

.submit-button:hover:not(:disabled) {
    background-color: transparent;
    border: var(--tertiary-colour-bottomn);
    border-style: solid;
    border-width: 2px;
    color: var(--tertiary-colour-bottomn);
}

.form-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
}


@media (max-width: 1300px) {
    .contact-form-info {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .from_email {
        width: 400px;
    }
    
    .from_name {
        width: 400px;
    }

    .message {
        width: 400px;
    }

    .form-group {
        margin-bottom: 30px;
    }
  }
  
  @media (max-width: 768px) {
    .contact-form-info {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .from_email {
        width: 230px;
    }
    
    .from_name {
        width: 230px;
    }

    .message {
        width: 230px;
    }

    .form-group {
        margin-bottom: 30px;
    }
  }

  @media (max-width: 440px) {
    .from_email {
        width: 200px;
    }
    
    .from_name {
        width: 200px;
    }

    .message {
        width: 200px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .contact-form {
        margin: 30px 5px;
    }
}