.contact-form-container {
    margin: 0;
    padding: 40px 0;
    font-size: 17px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-group {
    margin-bottom: 35px;
    width: 100%;
}

.from_email {
    width: 100%;
    min-width: 100px;
}

.from_name {
    width: 75%;
    min-width: 70px;
}

.message {
    width: 100%;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
    padding: 17px 15px;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
}

.form-group textarea {
    resize: vertical;
    height: 200px;
    min-height: 200px;
}

.submit-button {
    background-color: var(--tertiary-colour-bottomn);
    color: var(--primary-colour);
    border: var(--tertiary-colour-bottomn);
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    font-size: 17px;
}

.submit-button:disabled {
    background-color: var(--disabled);
    color: var(--secondary-colour);
    border: var(--disabled);
}

.submit-button:hover:not(:disabled) {
    background-color: transparent;
    border: var(--tertiary-colour-bottomn);
    border-style: solid;
    border-width: 2px;
    color: var(--tertiary-colour-bottomn);
}

.form-message {
    margin:0;
}

.form-message.success {
    color: var(--tertiary-colour-bottomn)
}

.form-message.error {
    color: var(--danger);
}

.form-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
}


@media (max-width: 1300px) {
    .contact-form-info {
        display: flex;
        flex-direction: column;
    }

    .from_email {
        width: 100%;
        min-width: 100px;
    }
    
    .from_name {
        width: 100%;
        min-width: 100px;
    }

    .form-group {
        margin-bottom: 30px;
    }
  }
  