.contact-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  width: 100vw;
}

.contact-left {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.contact-form {
  width: 700px;
}

.contact-methods {
  margin: 40px 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.social-icons {
  display: flex;
  gap: 20px;
  margin-top: 35px;
}

.social-icon {
  display: flex;
  gap: 5px;
}

.info-title {
  font-weight: 500;
}

.social-icons a {
  text-decoration: none;
  color: var(--secondary-colour);
}

.social-icons a:hover {
  color: var(--tertiary-colour-bottomn);
  text-decoration: underline;
}

.copy-btn {
  font-weight: 300;
  background-color: transparent;
  border: none;
  padding: 4px 5px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--secondary-colour);
}

.copy-btn:focus {
  outline: none;
}

.copy-btn:hover {
  background-color: var(--highlight-gray);
}


@media (max-width: 1300px) {
  .contact-form {
    width: 550px;
  }
}

@media (max-width: 768px) {
  .contact-form {
    width: 350px;
  }
}