.education-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 55px;
    margin-top: 30px;
}

.education-item {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.education-time {
    font-size: 14px;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 30px;
    color: var(--secondary-colour);
}

.education-content {
    padding: 5px 35px;
    width: 430px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.education-content p {
    margin: 0;
    display: flex;
    align-items: center;
}

.education-content ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 1300px) {
    .education-content {
        width: 290px;
    }
    .education-container {
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .education-content {
        width: 220px;
        height: 220px;
        padding: 5px 20px;
    }
    .education-container {
        gap: 10px;
    }
}
