.education-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.education-item {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px 40px;
    align-items: center;

}

.education-time {
    font-size: 14px;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 30px;
    color: var(--secondary-colour);
}

.education-content {
    background-color: var(--primary-colour);
    box-shadow: 0 4px 8px var(--item-box-shadow);
    border-radius: 30px;
    padding: 5px 25px;
    width: 460px;
    height: 200px;
}

.edu-icon {
    width: 20px;
    height: 20px;
}

.education-content h3 {
    font-size: 16px;
}

.education-content p {
    margin: 0;
    display: flex;
    align-items: center;
}

.education-content ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0;
}

.education-content ul li {
    margin-top: 5px;
}

@media (max-width: 1300px) {
    .education-content {
        width: 310px;
    }
}

@media (max-width: 768px) {
    .education-content {
        width: 220px;
    }
}
