.project-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding: 0 120px;
}

.project-card {
  width: 500px;
  border: none;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 8px var(--item-box-shadow);
  background-color: var(--primary-colour);
}

.project-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.project-details {
  padding: 15px;
  text-align: left;
}

.project-details h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.project-details p {
  margin-bottom: 10px;
}

.project-details a {
  font-size: 12px;
  margin-right: 10px;
}

.project-details ul {
  list-style: none;
  padding: 0;
}

.project-details li {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .project-gallery {
    padding: 20px;
  }  
}

@media (max-width: 440px) {
  .project-gallery {
    padding: 0 10px;
  }  
}