.timeline {
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.timeline-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 30px 20px;
}

.timeline-date {
    text-align: left;
    padding: 0 0 10px 20px;
    color: var(--secondary-colour);
}
  
.timeline-content {
    padding: 20px;
    box-shadow: 0 4px 8px var(--item-box-shadow);
    background-color: var(--primary-colour);
    text-align: left;
    position: relative;
    border-radius: 30px;
    width: 1020px;
}

.timeline-content p {
    margin: 10px 0;
}
  
.show-more {
    padding:0 0 2px 0;
    font-weight: 400;
    font-size: 12px;
    color: var(--tertiary-colour);
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.show-more:focus {
    outline: none;
}

button:focus { outline-style: none; }

.show-more:hover {
    text-decoration: underline 1px;
}
  
.timeline-item:first-child::before {
    top: 50%;
}
  
.timeline-item:last-child::before {
    bottom: 50%;
}

@media (max-width: 1300px) {
    .timeline-content {
        width: 700px;
    }
}

@media (max-width: 768px) {
    .timeline-content {
        width: 500px;
    }

    .timeline-item {
        padding: 20px 15px;
    }
}

@media (max-width: 540px) {
    .timeline-content {
        width: 400px;
    }

    .timeline-item {
        padding: 20px 15px;
    }
}

@media (max-width: 440px) {
    .timeline-content {
        width: 300px;
    }

    .timeline-item {
        padding: 15px 10px;
    }
}